.todo-items {
    display: flex;
    /* border: 1px solid rgba(63, 61, 61, 0.3); */
    flex-direction: column;
    justify-content: space-between;
    margin-left: 15px;
    text-align: left;
    
}

.fa.fa-times-circle {
    position: absolute;
    top: 3px;
    right: 5px;
}

.list-card {
    position: absolute;
    font-family: 'Julius Sans One', sans-serif;
    background-color: rgba(115, 111, 129, 0.75);
    color: #EDE5E0;
    position: relative;
    border-radius: 5px;
    font-size: 20px;
    width: 400px;
    height: 300px;
    text-align: center;
}

.list-card h1 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 2px solid #736F81;
}

.fa-plus {
    position: absolute;
    bottom: 5px;
    left: 5px;
}