.todo-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
    position: relative;
    
}

.todo-action-buttons {
  position: absolute;
  right: 4px;
}

.fa-pencil {
    margin-right: 15px;
}